/* Style for the profile picture */
.img-fluid {
  width: 200px;
  height: 200px;
}

/* Style for the private information section */
.private-info {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

/* Style for followers/following lists */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.bg-mint {
  background-color: #bff3c5;
}

.wd-link {
  color: #000;
  text-decoration: none;
}

.wd-li {
  transition: all 0.3s ease; 
}

.wd-li:hover {
  transform: scale(1.03); 
}

.wd-scrollable-div {
  max-height: 550px; 
  overflow-y: auto; 
  overflow-x: hidden; 
}

/* this one is for when this profile is not the current */
.wd-scrollable-div-large {
  height: 1000px;
  max-height: 700px;
  overflow-y: auto; 
  overflow-x: hidden; 
}

.wd-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

